
/* ------- loader------ */
.div-loader {
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 10000;
    align-items: center;
    justify-content: center;
    background: #dddddd;
    transition: opacity 0.75s, visibility 0.75s;
  }
  .div-loader  .loader {
    animation: rotate 1s infinite;
    width: 75px;
    height: 75px;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  /* .div-loader  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: rgba(255, 200, 3, 0.84);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  } */
  /* .div-loader  .loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width:84px;
    height: 84px;
    border-radius: 50%;
    background:#FF3D00;
    animation: push 1s infinite linear alternate;
  }
  .div-loader  .loader:after {
    top: auto;
    bottom: 0;
    left: 0;
    background: #fff;
    animation-direction: alternate-reverse;
  } */

   .loader:before,
   .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
   .loader:before {
    animation: ball1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
   .loader:after {
    animation: ball2 1s infinite;
    background-color: #ff3d00;
    box-shadow: 30px 0 0 #fff;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #ff3d00;
    }
    50% {
      box-shadow: 0 0 0 #ff3d00;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #ff3d00;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #fff;
    }
    50% {
      box-shadow: 0 0 0 #fff;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #fff;
      margin-top: 0;
    }
  }
   /* scroll */
  
